div.rating{
    background-color: white;    
}
div.rating:after{
    display: block;
    height:0px;
    clear:both;
    content:" ";
}
div.rating ul{
    padding: 0;
    list-style-type: none;    
}

div.rating li{
    float:left
}