.window{
    background-color: white;
    color: white;
    width: 300px;
    height:200px;
    margin: 10px;
  }
  
  .window div.window-header{
    background-color: #282c34;
    color: white;
    width:97%;
    height:10%;
    padding:5px;
  }
  
  .window div.window-body{
    border-radius: 2px;
    border: 1px solid #282c34;
    color: #282c77;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height:90%;
  }